body {
  background-image: url(../public/phone.jpeg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.profile {
  width: 70px;
  height: 70px;
}
.contact-item {
  border: 1px solid gainsboro;
  border-radius: 20px;
  padding: 12px;
  margin: 10px 0;
  background-color: lightyellow;
}
.contact-list {
  margin-top: 20px;
}

.search-form {
  margin-top: 20px;
}
.border-column {
  border-right: 1px solid gainsboro;
}
